In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [25]:
mretail = pd.read_csv('Metrail+dataset.csv')
mretail.head()

    Month  Travellers('000)
0  Jan-91            1724.0
1  Feb-91            1638.0
2  Mar-91            1987.0
3  Apr-91            1825.0
4  May-91               NaN

In [26]:
mretail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Month             159 non-null    object
 1   Travellers('000)  148 non-null    float64
dtypes: float64(1), object(1)
memory usage: 2.6+ KB

In [16]:
mretail['Travellers_previousImpute'] = mretail['Travellers(\'000)'].fillna(method = 'pad')

In [17]:
mretail['Travellers_previousImpute'].describe()

count     159.000000
mean     1838.685535
std       181.136991
min      1376.000000
25%      1716.500000
50%      1845.000000
75%      1978.500000
max      2236.000000
Name: Travellers_previousImpute, dtype: float64

In [27]:
mretail['Travellers_previousImpute'] = mretail['Travellers(\'000)'].fillna(mretail['Travellers(\'000)'].interpolate(method = 'linear'))

In [28]:
mretail['Travellers_previousImpute'].describe()

count     159.000000
mean     1836.566038
std       175.906973
min      1376.000000
25%      1716.500000
50%      1839.000000
75%      1973.500000
max      2236.000000
Name: Travellers_previousImpute, dtype: float64